* {
   margin: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   background-color: gray; 
}

.main {
   min-height: 200px;
   background-color: white;
   border-radius: 10px;
   padding: 5px;
   clear: left;
}

.up {
   font-size:.95em;
   width: 120px;
   height: 30px;
   display: none;
   background-color: white;
   border: solid 2px orange;
   border-radius: 5px;
   padding: 3px;
   z-index: 1; 
   position: fixed;
   bottom: 7px;
}

@media screen and (max-width: 991px){
   .up {
      display: block;
   }
}

@media screen and (max-height: 825px){
   .up {
      display: block;
   }
}

#logo {
   width: 104px;
   height: 40px;
   font-family: "Courier New";
   font-size: 45px; 
   font-weight: bold;
   float: left;
   border: solid 3px black;
   border-radius: 23px/10px;
   line-height: 0.85; 
   position: absolute;
   top: 50%;
   margin-top: -20px;
}

@media screen and (max-width: 545px) {
   #logo {
      display: none;
   }
}

footer, header{
   background-color: white;
   text-align: center;
   clear: both;
   border-radius: 10px;
   padding: 5px;
   position: relative;
}

aside {
   width: 100%;
   background-color: #c3bfbf;
   margin: 5px;
   padding: 5px;
   border-radius: 10px;
   font-family: sans-serif;
   font-size: 0.8em;
   }

@media screen and (min-width: 992px) {
   aside {
      width: 30%;
      float: right;
   }
}

#test {
   padding: 5px;
}

#test > div {
   border: solid 2px black;
   border-radius: 5px;
   padding: 3px;
   margin-top: 3px;
   text-align: justify;
}
   
@media screen and (min-width: 992px) {
   #test > div {
      width: 20%;
      border: solid 2px black;
      border-radius: 5px;
      padding: 3px;
      float: left;
   }
}

section {
   margin-top: 20px;
}

aside > h3 {
   margin-left: 5px;
}

p, dd {
   text-align: justify;
   text-indent: 30px;
   margin-right: 5px;
   margin-left: 5px;
}

nav > ul {
   padding: 0;
}

.nav > li {
   display: inline-block;
}

li {
   list-style-type: none;
   color: blue;
   position: relative;
}

.inner {
  display: none;
}

.outer:hover .inner {
  display: block;
  position: absolute;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  padding: 3px;
  left: 5%;
}

a:visited {
   color: blue;
}

a:active  {
   color: darkred;
}

#calculator {
   display: flex;
   width: 200px;
   flex-flow: row wrap;
   margin: 0 auto;
   box-sizing: border-box;
}

.bottom-calc {
   display: flex;
   width: 80%;
   flex-flow: row wrap;
}

input[name="answer"] {
   width: 100%;
   height: 35px;
   font-weight: bold;
}

input[name|="but"] {
   width: 20%;
   height: 35px;
   font-weight: bold;
}

input[name|="buth"] {
   width: 25%;
   height: 35px;
   font-weight: bold;
}

input[name|="vdbbut"] {
   width: 20%;
   height: 70px;
   font-weight: bold;
}

input[name|="hdbbut"] {
   width: 50%;
   height: 35px;
   font-weight: bold;
}

.result {
   clear: left;
   border: solid 1px white;
}

input[name="result"] {
   display: block;
   margin: 3px auto;
}